{
  "guilds": [
    {
      "name": "logistics",
      "guildId": "749775101435838554",
      "commandChannelId": "",
      "sheetId": "",
      "prefix": "+",
      "bugReportWebhookId": "",
      "bugReportWebhookToken": ""
    }
  ]
}