{
  "guilds": [
    {
      "guildName": "",
      "guildId": "",
      "commandChannelId": "",
      "announcementChannelId": "",
      "spreadsheetId": "",
      "prefix": "",
      "rosterName": "",
      "nameHeader": "",
      "rankHeader": "",
      "lastPromotionDateHeader": "",
      "discordHeader": "",
      "statusHeader": "",
      "rankStructure": ""
    }
  ]
}